<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active">Update profile</li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-8 mx-auto mt-4">
  <div class="card card-small edit-user-details mb-4">
    <div class="card-body p-0">
      <div class="border-bottom clearfix d-flex">
        <ul class="nav nav-tabs border-0 mt-auto mx-4 pt-2">
          <li class="nav-item">
            <a class="nav-link active" href="#">General</a>
          </li>
        </ul>
      </div>
      <%= form_for @profile, url: users_profile_path(current_user) do |f| %>
        <%= render "shared/error_messages",
                  object: f.object %>
        <div class="form-row mx-4">
          <div class="col mb-3">
            <h6 class="form-text m-0">General</h6>
            <p class="form-text text-muted m-0">Setup your general profile details.</p>
          </div>
        </div>
        <div class="form-row mx-4">
          <div class="col-lg-8">
            <div class="form-row">
              <%= f.fields_for :user do |u| %>
                <div class="form-group col-md-12">
                  <%= u.label "Name"%>
                  <div class="input-group input-group-seamless">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <%= u.text_field :name, class: "form-control", placeholder: "Full name"%>
                  </div>
                </div>
              <% end %>
              <div class="form-group col-md-12">
                <%= f.label "Adress"%>
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-location-arrow"></i>
                    </div>
                  </div>
                  <%= f.text_field :address, class: "form-control", placeholder: "Address" %>
                </div>
              </div>
              <div class="form-group col-md-12">
                <%= f.label "Phone_number"%>
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-phone-square"></i>
                    </div>
                  </div>
                   <%= f.text_field :phone, class: "form-control", placeholder: "0332377526" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <label for="userProfilePicture" class="text-center w-100 mb-0">Profile Picture</label>
            <div class="edit-user-details__avatar m-auto">
              <%= image_tag (@profile.avatar.url if
              @profile.avatar.url.presence) || "/assets/profile/avatar.svg",
               :class => "avatar_edit" %>
            </div>
            <%= f.file_field :avatar %>

          </div>
        </div>
        <hr>
        <div class="form-row mx-4">
          <div class="col mb-3">
            <h6 class="form-text m-0">Social</h6>
            <p class="form-text text-muted m-0">Add or edit your social</p>
          </div>
        </div>
        <div class="form-row mx-4">
          <div class="form-group col-md-4">
            <%= f.label "Facebook"%>
            <div class="input-group input-group-seamless">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-facebook-square"></i>
                </div>
              </div>
              <%= f.text_field :facebook, class: "form-control", placeholder: "Facebook" %>
            </div>
          </div>
          <div class="form-group col-md-4">
            <%= f.label "Twitter"%>
            <div class="input-group input-group-seamless">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-twitter-square"></i>
                </div>
              </div>
              <%= f.text_field :twitter, class: "form-control", placeholder: "Twitter" %>
            </div>
          </div>
          <div class="form-group col-md-4">
            <%= f.label "Instagram"%>
            <div class="input-group input-group-seamless">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-instagram"></i>
                </div>
              </div>
              <%= f.text_field :instagram, class: "form-control", placeholder: "Instagram" %>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-row mx-4">
          <div class="col mb-3">
            <h6 class="form-text m-0" id="show-password-field">Click <span style="color:red">me</span> to change your password</h6>
            <p class="form-text text-muted m-0">Enter old and new passwords to change</p>
          </div>
        </div>
        <%= f.fields_for :user do |u| %>
          <div id="change-password">
            <div class="form-row mx-4">
              <div class="form-group col-md-6">
                <%= u.label "New password"%>
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                  </div>
                  <%= u.password_field :password, class: "form-control", placeholder: "Password" %>
                </div>
              </div>
              <div class="form-group col-md-6">
                <%= u.label "Password confirmation"%>
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                  </div>
                  <%= u.password_field :password_confirmation, class: "form-control", placeholder: "password_confirmation" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card-footer border-top">
          <%= f.submit "Update", class: "btn-edit", method: :update%>
        </div>
      <% end %>
    </div>
  </div>
</div>



