<div class="banner-area row-col-decrease pt-50 pb-75 clearfix">
  <div class="container">
    <div class="banner-left-side mb-20">
      <div class="single-banner">
        <div class="hover-style">
          <span><%= image_tag "/assets/banner/banner-1.jpg" %></span>
        </div>
      </div>
    </div>
    <div class="banner-right-side mb-20">
      <div class="single-banner mb-20">
        <div class="hover-style">
          <span><%= image_tag "/assets/banner/banner-2.jpg" %></span>
        </div>
      </div>
      <div class="single-banner">
        <div class="hover-style">
          <span><%= image_tag "/assets/banner/banner-3.jpg" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-area pb-70">
  <div class="custom-container">
    <div class="tab-content jump">
      <div id="tab1" class="tab-pane active">
        <div class="row">
          <%= render @products %>
          <%= paginate @products, theme: "twitter-bootstrap-4" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-area">
  <div class="container">
    <div class="discount-overlay bg-img pt-130 pb-130" style="background-image:url(/assets/banner/banner-4.jpg);">
      <div class="discount-content text-center">
        <h3>It’s Time To Start <br>Your Own Revolution By Laurent</h3>
        <p>Exclusive Offer -10% Off This Week</p>
      </div>
    </div>
  </div>
</div>
<div class="best-food-area pt-100 pb-95">
  <div class="custom-container">
    <div class="row">
      <div class="best-food-width-1">
        <div class="single-banner">
          <div class="hover-style">
            <span><%= image_tag "/assets/banner/banner-5.jpg" %></span>
          </div>
        </div>
      </div>
      <div class="best-food-width-2">
        <div class="product-top-bar section-border mb-25">
          <div class="section-title-wrap">
            <h3 class="section-title section-bg-white">Best Food In Our Shop</h3>
          </div>
        </div>
        <div class="tab-content jump">
          <div id="tab4" class="tab-pane active">
            <div class="product-slider-active owl-carousel product-nav">
              <%= render "products/best_product", best_products: @best_products %>
            </div>
          </div>
        </div>
      </div>
      <div class="best-food-width-1 mrg-small-35">
        <div class="single-banner">
          <div class="hover-style">
            <span><%= image_tag "/assets/banner/banner-6.jpg" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/brand_logo" %>
