<div class="sidebar" data-image="../assets/admin/sidebar-4.jpg" data-color="purple">
  <div class="sidebar-wrapper">
    <div class="logo">
      <%= link_to manager_root_path, class: "simple-text" do  %>
        Shop Project
      <% end %>
    </div>
    <ul class="nav">
      <li class="nav-item active">
        <%= link_to manager_root_path, class: "nav-link" do %>
          <i class="nc-icon nc-chart-pie-35"></i>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li>
        <a class="nav-link" href="./user.html">
          <i class="nc-icon nc-circle-09"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <%= link_to manager_products_path, class: "nav-link" do %>
          <i class="nc-icon nc-notes"></i>
          <p>Product</p>
        <% end %>
      </li>
      <li>
          <%= link_to manager_orders_path, class: "nav-link" do %>
            <i class="nc-icon nc-bullet-list-67"></i>
            <p>Order List</p>
          <% end %>
        </a>
      </li>
      <li>
        <%= link_to manager_category_index_path, class: "nav-link" do %>
          <i class="nc-icon nc-tag-content"></i>
          <p>Category</p>
        <% end %>
      </li>
      <li>
        <a class="nav-link" href="./maps.html">
          <i class="nc-icon nc-pin-3"></i>
          <p>Maps</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="./notifications.html">
          <i class="nc-icon nc-bell-55"></i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item active active-pro">
        <a class="nav-link active" href="upgrade.html">
          <i class="nc-icon nc-alien-33"></i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>
