<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for Category.new, url: admin_category_index_path, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :name, "Name:", class: "col-form-label" %>
            <%= f.text_field :name, class: "form-control", id: "recipient-name" %>
          </div>
        </div>
        <div class="modal-footer">
          <%= button_tag "Close", class: "btn btn-secondary", "data-dismiss": "modal" %>
          <%= f.submit "Create", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
