<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <!-- Thumbnail Large Image start -->
            <div class="tab-content">
              <div id="pro-1" class="tab-pane fade show active">
                <%= image_tag "/assets/product-details/product-detalis-l4.jpg" %>
              </div>
              <div id="pro-2" class="tab-pane fade">
                <%= image_tag "/assets/product-details/product-detalis-l4.jpg" %>
              </div>
              <div id="pro-3" class="tab-pane fade">
                <%= image_tag "/assets/product-details/product-detalis-l4.jpg" %>
              </div>
              <div id="pro-4" class="tab-pane fade">
                <%= image_tag "/assets/product-details/product-detalis-l4.jpg" %>
              </div>
            </div>
            <!-- Thumbnail Large Image End -->
            <!-- Thumbnail Image End -->
            <div class="product-thumbnail">
              <div class="thumb-menu owl-carousel nav nav-style" role="tablist">
                <a class="active" data-toggle="tab" href="#pro-1"><%= image_tag "/assets/product-details/product-detalis-s4.jpg" %></a>
                <a data-toggle="tab" href="#pro-2"><%= image_tag "/assets/product-details/product-detalis-s4.jpg" %></a>
                <a data-toggle="tab" href="#pro-3"><%= image_tag "/assets/product-details/product-detalis-s4.jpg" %></a>
                <a data-toggle="tab" href="#pro-4"><%= image_tag "/assets/product-details/product-detalis-s4.jpg" %></a>
              </div>
            </div>
            <!-- Thumbnail image end -->
          </div>
          <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="modal-pro-content">
              <h3><%= product.name %> </h3>
              <div class="product-price-wrapper">
                <span><%=number_to_currency(@product.price) %></span>
              </div>
              <p><%= product.description %></p>
              <div class="product-quantity">
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                </div>
                <button>Add to cart</button>
              </div>
              <span><i class="fa fa-check"></i> In stock</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
