<div class="custom-col-5">
  <div class="product-wrapper mb-25">
    <div class="product-img">
      <%= link_to product do %>
        <%= image_tag product.image_url(:thumb_nail) || "/assets/product/product-1.jpg" %>
      <% end %>
      <div class="product-action">
        <div class="pro-action-left">
          <%= render "products/product_order_form", product: product %>
        </div>
        <div class="pro-action-right">
          <%= link_to "#" do %>
            <i class="ion-ios-heart-outline"></i>
          <% end %>
          <%= link_to quick_views_path(product_id: product.id), remote: true do %>
            <i class="ion-android-open"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="product-content">
      <h4>
        <%= link_to "#{product.name}", product %>
      </h4>
      <div class="product-price-wrapper">
        <% if product.sale_price.nil?  %>
           <span><%= number_to_currency(product.price)%></span>
        <% else %>
          <span><%= number_to_currency(product.sale_price) %></span>
          <span class="product-price-old"><%= number_to_currency(product.price)%></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="exampleModal1"></div>
