<% related_products.each do |product| %>
  <div class="product-wrapper">
    <div class="product-img">
      <a href="product-details.html">
        <%= image_tag (product.image_url if product.image.presence) || "/assets/product/product-1.jpg" %>
      </a>
      <div class="product-action">
        <div class="pro-action-left">
           <%= form_for ProductOrder.new, remote: true do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.hidden_field :quantity, value: "1" %>
              <div class="shop-list-cart-wishlist">
                <%= link_to "#", class: "submit-cart" do %>
                  <i class="ion-android-cart"></i>
                <% end %>
                <%= f.submit "submit", style: "display: none" %>
              </div>
            <% end %>
        </div>
        <div class="pro-action-right">
          <%= link_to "#" do %>
            <i class="ion-ios-heart-outline"></i>
          <% end %>
          <%= link_to quick_views_path(product_id: product.id), remote: true do %>
            <i class="ion-android-open"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="product-content">
      <h4>
        <a href="product-details.html"><%= product.name %> </a>
      </h4>
      <div class="product-price-wrapper">
        <span><%= number_to_currency(product.price) %></span>
        <span class="product-price-old"><%= number_to_currency(product.price) %></span>
      </div>
    </div>
  </div>
<% end %>
