<div class="custom-container">
  <div class="tab-content jump">
    <div id="tab1" class="tab-pane active">
      <div class="row searches" >
        <% @results.each do |result| %>
          <div class="custom-col-5">
            <div class="product-wrapper mb-25">
              <div class="product-img">
                <%= link_to result do %>
                  <%= image_tag result.image_url.presence || "product-details/product-detalis-s4" %>
                <% end %>
                <div class="product-action">
                  <div class="pro-action-left">
                    <%= link_to "#" do %>
                      <i class="ion-android-cart"></i> Add To Cart
                    <% end %>
                  </div>
                  <div class="pro-action-right">
                    <%= link_to "#" do %>
                      <i class="ion-ios-heart-outline"></i>
                    <% end %>
                    <%= link_to quick_views_path(product_id: result.id), remote: true do %>
                      <i class="ion-android-open"></i>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="product-content">
                <h4>
                  <%= link_to "#{result.name}", result %>
                </h4>
                <div class="product-price-wrapper">
                  <span><%= number_to_currency(result.price) %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @results, theme: "twitter-bootstrap-4" %>
      </div>
    </div>
  </div>
</div>
<div id="exampleModal1"></div>
