<div class="breadcrumb-area gray-bg">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index">Home</a></li>
        <li class="active">Product Details</li>
      </ul>
    </div>
  </div>
</div>
<div class="product-details pt-100 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="product-details-img">
          <%= image_tag @product.image_url(:thumb_large) || "product-details/product-detalis-s4", class: "zoompro"%>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="product-details-content">
          <h4>
            <%= @product.name %>
          </h4>
          <div class="rating-review">
            <%= render "products/rating_view", product: @product, avg_rate: @avg_rate %>
          </div>
          <span><%= number_to_currency(@product.sale_price) %></span>
          <div class="in-stock">
            <p>Available: <span><%= @product.sale_count %></span></p>
          </div>
          <div class="pro-details-cart-wrap">
            <%= form_for ProductOrder.new, remote: true do |f| %>
              <%= f.hidden_field :product_id, value: @product.id %>
              <div class="shop-list-cart-wishlist">
                <%= link_to "#", class: "submit-cart" do %>
                  <i class="ion-android-cart"></i>
                <% end %>
                <%= f.submit "submit", style: "display: none" %>
              </div>
              <div class="product-quantity">
                <div class="cart-plus-minus">
                  <%= f.telephone_field :quantity, value: 1, class: "cart-plus-minus-box", min: 1 %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="pro-dec-categories">
            <ul>
              <li class="categories-title">Category:</li>
              <% @product.categories.each do |categories|%></a>
              <li>
                <%= link_to "#{categories.name}", categories %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="description-review-area pb-100">
  <div class="container">
    <div class="description-review-wrapper">
      <div class="description-review-topbar nav text-center">
        <a class="active" data-toggle="tab" href="#des-details1">Review</a>
        <a data-toggle="tab" href="#des-details3">Description</a>
      </div>
      <div class="tab-content description-review-bottom">
        <div id="des-details1" class="tab-pane">
          <div class="product-description-wrapper">
            <p>
              <%= @product.description %>
            </p>
          </div>
        </div>
        <div id="des-details3" class="tab-pane active">
          <div class="rattings-wrapper">
            <div id="review-list">
              <%= render "reviews/review", reviews: @reviews %>
              <%= paginate @reviews, theme: "twitter-bootstrap-4" %>
            </div>
            <div id="review-form">
              <%= render "reviews/form", product: @product %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-area pb-95">
  <div class="container">
    <div class="product-top-bar section-border mb-25">
      <div class="section-title-wrap">
        <h3 class="section-title section-bg-white">Related Products</h3>
      </div>
    </div>
    <div class="related-product-active owl-carousel product-nav">
      <%= render "products/related_product", related_products: @related_products %>
    </div>
  </div>
</div>
