<div class="brand-logo-area pb-100">
  <div class="container">
    <div class="brand-logo-active owl-carousel">
      <div class="single-brand-logo">
        <%= image_tag "/assets/brand-logo/logo-1.png" %>
      </div>
      <div class="single-brand-logo">
        <%= image_tag "/assets/brand-logo/logo-2.png" %>
      </div>
      <div class="single-brand-logo">
        <%= image_tag "/assets/brand-logo/logo-3.png" %>
      </div>
      <div class="single-brand-logo">
        <%= image_tag "/assets/brand-logo/logo-4.png" %>
      </div>
      <div class="single-brand-logo">
        <%= image_tag "/assets/brand-logo/logo-5.png" %>
      </div>
      <div class="single-brand-logo">
        <%= image_tag "/assets/brand-logo/logo-2.png" %>
      </div>
    </div>
  </div>
</div>
