<header class="header-area">
  <div class="header-top black-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="account-curr-lang-wrap f-right">
            <ul>
              <li class="top-hover"><a href="#">Language: (ENG) <i class="ion-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Bangla </a></li>
                  <li><a href="#">Arabic</a></li>
                  <li><a href="#">Hindi </a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
              <li class="top-hover"><a href="#">Currency: (USD) <i class="ion-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Taka (BDT)</a></li>
                  <li><a href="#">Riyal (SAR)</a></li>
                  <li><a href="#">Rupee (INR)</a></li>
                  <li><a href="#">Dirham (AED)</a></li>
                </ul>
              </li>
              <li class="top-hover"><a href="#">Setting  <i class="ion-chevron-down"></i></a>
                <ul>
                  <li><a href="wishlist.html">Wishlist  </a></li>
                  <li><a href="login-register.html">Login</a></li>
                  <li><a href="login-register.html">Register</a></li>
                  <li><a href="my-account.html">my account</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-12 col-sm-4">
          <div class="logo">
            <%= link_to root_url do %>
              <%= image_tag "/assets/logo/logo.png" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 col-sm-4">
          <div class="search-box">
            <%= render "products/form_search" %>
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-12 col-sm-4">
          <div class="header-middle-right f-right">
            <div class="header-login">
              <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class="header-icon-style">
                    <i class="icon-user icons"></i>
                  </div>
                  <div class="login-text-content">
                    <p>Hi <%= current_user.name.to_s.split(" ")[-1]  %> <br>
                      <span>Logout</span></p>
                  </div>
                <% end %>
              <% else %>
                <div class="header-icon-style">
                  <i class="icon-user icons"></i>
                </div>
                <div class="login-text-content">
                  <p>
                    <%= link_to new_user_registration_path do %><span>Register</span><% end %>
                    <br> or
                    <%= link_to new_user_session_path do %><span>Login</span>
                    <% end %>
                  </p>
                </div>
              <% end %>
            </div>
            <div class="header-wishlist">
              <a href="wishlist.html">
                <div class="header-icon-style">
                  <i class="icon-heart icons"></i>
                </div>
                <div class="wishlist-text">
                  <p>Your <br> <span>Wishlist</span></p>
                </div>
              </a>
            </div>
            <div class="header-cart">
              <%= render "product_orders/header_cart" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom transparent-bar black-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="main-menu">
            <nav>
              <ul>
                <li class="top-hover"><%= link_to "home", root_url %>
                </li>
                <li><a href="about-us.html">about</a></li>
                <li class="mega-menu-position top-hover"><a href="">Category<i class="ion-chevron-down"></i></a>
                  <ul class="mega-menu">
                    <li>
                      <ul>
                        <% categories.each do |category| %>
                          <li>
                            <%= link_to "#{category.name}", category %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="top-hover"><a href="blog-rightsidebar.html">blog <i class="ion-chevron-down"></i></a>
                  <ul class="submenu">
                    <li><a href="blog.html">Blog No sidebar</a></li>
                    <li><a href="blog-rightsidebar.html">Blog sidebar</a></li>
                    <li><a href="blog-details.html">Blog details</a></li>
                    <li><a href="blog-details-gallery.html">Blog details gallery</a></li>
                    <li><a href="blog-details-video.html">Blog details video</a></li>
                  </ul>
                </li>
                <li class="top-hover"><a href="#">pages <i class="ion-chevron-down"></i></a>
                  <ul class="submenu">
                    <li><a href="about-us.html">about us </a></li>
                    <li><a href="shop.html">shop Grid</a></li>
                    <li><a href="shop-list.html">shop list</a></li>
                    <li><a href="product-details.html">product details</a></li>
                    <li><a href="cart-page.html">cart page</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="wishlist.html">wishlist</a></li>
                    <li><a href="my-account.html">my account</a></li>
                    <li><a href="login-register.html">login / register</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="testimonial.html">Testimonials</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">contact us</a></li>
                <li><a href="shop.html">burger</a></li>
                <li><a href="shop.html">pizza</a></li>
                <li><a href="shop.html">cold drink</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="mobile-menu">
            <nav id="mobile-menu-active">
              <ul class="menu-overflow" id="nav">
                <li><a href="index.html">Home</a>
                  <ul>
                    <li><a href="index.html">home version 1</a></li>
                    <li><a href="index-2.html">home version 2</a></li>
                  </ul>
                </li>
                <li><a href="#">pages</a>
                  <ul>
                    <li><a href="about-us.html">about us </a></li>
                    <li><a href="shop.html">shop Grid</a></li>
                    <li><a href="shop-list.html">shop list</a></li>
                    <li><a href="product-details.html">product details</a></li>
                    <li><a href="cart-page.html">cart page</a></li>
                    <li><a href="checkout.html">checkout</a></li>
                    <li><a href="wishlist.html">wishlist</a></li>
                    <li><a href="my-account.html">my account</a></li>
                    <li><a href="login-register.html">login / register</a></li>
                    <li><a href="contact.html">contact</a></li>
                    <li><a href="testimonial.html">Testimonials</a></li>
                  </ul>
                </li>
                <li><a href="shop.html"> Shop </a>
                  <ul>
                    <li><a href="#">Categories 01</a>
                      <ul>
                        <li><a href="shop.html">salad</a></li>
                        <li><a href="shop.html">sandwich</a></li>
                        <li><a href="shop.html">bread</a></li>
                        <li><a href="shop.html">steak</a></li>
                        <li><a href="shop.html">tuna steak</a></li>
                        <li><a href="shop.html">spaghetti </a></li>
                      </ul>
                    </li>
                    <li><a href="#">Categories 02</a>
                      <ul>
                        <li><a href="shop.html">rice</a></li>
                        <li><a href="shop.html">pizza</a></li>
                        <li><a href="shop.html">hamburger</a></li>
                        <li><a href="shop.html">eggs</a></li>
                        <li><a href="shop.html">sausages</a></li>
                        <li><a href="shop.html">apple juice</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Categories 03</a>
                      <ul>
                        <li><a href="shop.html">milk</a></li>
                        <li><a href="shop.html">grape juice</a></li>
                        <li><a href="shop.html">cookie</a></li>
                        <li><a href="shop.html">candy</a></li>
                        <li><a href="shop.html">cake</a></li>
                        <li><a href="shop.html">cupcake</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Categories 04</a>
                      <ul>
                        <li><a href="shop.html">pie</a></li>
                        <li><a href="shop.html">stoberry</a></li>
                        <li><a href="shop.html">sandwich</a></li>
                        <li><a href="shop.html">bread</a></li>
                        <li><a href="shop.html">steak</a></li>
                        <li><a href="shop.html">hamburger</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="blog-rightsidebar.html">blog</a>
                  <ul>
                    <li><a href="blog.html">Blog No sidebar</a></li>
                    <li><a href="blog-rightsidebar.html">Blog sidebar</a></li>
                    <li><a href="blog-details.html">Blog details</a></li>
                    <li><a href="blog-details-gallery.html">Blog details gallery</a></li>
                    <li><a href="blog-details-video.html">Blog details video</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">contact us</a></li>
                <li><a href="shop.html">burger</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
