<header class="header-area">
  <div class="header-middle">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-12 col-sm-4">
          <div class="logo">
            <%= link_to root_url do %>
              <%= image_tag "/assets/logo/logo.png" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 col-sm-4">
          <div class="search-box">
            <%= render "products/form_search" %>
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-12 col-sm-4">
          <div class="header-middle-right f-right">
            <div class="header-login" style="margin-right: 50px;">
              <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class="header-icon-style">
                    <i class="icon-user icons"></i>
                  </div>
                  <div class="login-text-content">
                    <p>Hi <%= current_user.name.to_s.split(" ")[-1]  %> <br>
                      <span>Logout</span></p>
                  </div>
                <% end %>
              <% else %>
                <div class="header-icon-style">
                  <i class="icon-user icons"></i>
                </div>
                <div class="login-text-content">
                  <p>
                    <%= link_to new_user_registration_path do %><span>Register</span><% end %>
                    <br> or
                    <%= link_to new_user_session_path do %><span>Login</span>
                    <% end %>
                  </p>
                </div>
              <% end %>
            </div>
            <div class="header-wishlist">
              <% if current_user.present? %>
                <%= render "notifications/notification_center", notifications: notifications %>
              <% end %>
            </div>
            <div class="header-cart">
              <%= render "product_orders/header_cart" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom transparent-bar black-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="main-menu">
            <nav>
              <ul>
                <li class="top-hover"><%= link_to "home", root_url %>
                </li>
                <li class="mega-menu-position top-hover"><a href="">Category<i class="ion-chevron-down"></i></a>
                  <ul class="mega-menu">
                    <% categories.each do |category| %>
                      <li>
                        <ul>
                            <li>
                              <%= link_to "#{category.name}", category %>
                            </li>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li class="top-hover">
                  <a href="">Setting<i class="ion-chevron-down"></i></a>
                  <ul class="submenu">
                    <li><%= link_to "Order history", users_order_histories_path %></li>
                    <% if user_signed_in? %>
                      <li><%= link_to "My account", users_profile_path(current_user) %></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
