<div class="login-register-area pt-50 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-register-tab-list nav">
            <h1> Register </h1>
          </div>
          <div id="lg1" class="tab-pane active">
            <div class="login-form-container">
              <div class="login-register-form">
                <%= form_for(resource, as: resource_name,
                url: registration_path(resource_name)) do |f| %>
                  <%= render "users/shared/error_messages",
                  object: f.object %>
                  <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true,
                    autocomplete: "name" %>
                  </div>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true,
                    autocomplete: "email" %>
                  </div>
                  <div class="field">
                    <%= f.label :password %>
                      <em style="color: white">
                        (<%= @minimum_password_length %> characters minimum)
                      </em><br />
                    <%= f.password_field :password,
                    autocomplete: "new-password" %>
                  </div>
                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation,
                    autocomplete: "new-password" %>
                  </div>
                  <div class="button-box">
                      <%= f.button :submit %>
                    <div style="float: right;">
                      <span style="color: white">I already have an account</span>
                      <%= render "users/shared/links" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

